resnet50_neuron.pt
torch_neuron_test
neuron_compiled_model.pt

./compile/159/graph_def.pb
./compile/159/sg00/hh.presched.bir
./compile/159/sg00/hh.presched.allocated.bir
./compile/159/sg00/hh.presched.allocated.ada.bir
./compile/159/sg00/hh.presched.allocated.ada.scheduled.bir
./compile/159/_tmp_neff.tgz
./compile/159/graph_def.neff
./neuron_compiled_model.pt
./bert_tutorial/bert-large-uncased-mrpc.tar.gz
./bert_tutorial/bert-large-uncased-mrpc/pytorch_model.bin
./bert_tutorial/bert-large-uncased-mrpc/mrpc_output/pytorch_model.bin
./bert_tutorial/bert_neuron.pt

model.tar.gz
